.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header header header"
    ". logo ."
    ". form ."
    "footer footer footer";
}

.footer {
    background-color: #d3d3d3;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.div_header {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

.div_footer {
    display: flex;
    margin: 0;
    padding: 0;
  }

#google_logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
}

#search_form {
    grid-area: form;
    justify-self: center;
    align-self: center;
}

#header_text {
    display: inline;
  }

#left_footer_text {
    display: inline;
  }

#right_footer_text {
    margin-left: auto;
  }