.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header header header"
    ". logo ."
    ". form ."
    "footer footer footer";
}

.footer {
    background-color: gray;
}

#google_logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
}

#search_form {
    grid-area: form;
    justify-self: center;
    align-self: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
  }